{% extends 'layout.twig' %}

{% block content  %}
<h1>Login</h1>
<div class="alert alert-primary" role="alert">
  {{ responseMessage }}
</div>
  <form class="" action="/platzi/cursoPhp72/auth" method="post" >
  <label for="">Email:</label>
  <input type="email" name="email" value="" placeholder="Email"><br/>
  <label for="">Password:</label>
  <input type="password" name="password" value="" placeholder="Password"><br/>
  <!--https://diego.com.es/seguridad-en-la-subida-de-archivos-en-php-->

  <button type="submit">Login</button>
  </form>
{% endblock %}
